{% extends 'base.html' %}

{% block title %}管理员操作—密码修改{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
{% endblock %}

{% block operation %}管理员密码修改{% endblock %}

{% block info_form %}
    <div class="container">
        <section id="content">
            <form action="{{ url_for('modify_password',user_id=user.id)}}" method="post">
                <h1>密码修改</h1>
                <div>
                    <input type="text" value="当前用户名 {{ user.username }}" disabled/>
                </div>
                <div>
                    <input type="password" placeholder="请输入当前密码" name="password_cur" />
                </div>
                <div>
                    <input type="password" placeholder="新密码" name="password_new" />
                </div>
                 <div class="">
                    <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
                 </div>
                <div>
                    <div style="width: 300px">
                    <input type="submit" value="更改" class="btn btn-primary" id="js-btn-login" style="display: inline-block;margin-left:
120px;height: 40px"/>
                </div>
                </div>
            </form><!-- form -->
        </section><!-- content -->
    </div>
{% endblock %}