{% extends '_window.html' %}
{% block title %}口令验证{% endblock %}
{% block operation %}口令验证{% endblock %}
{% block window_content %}
    <form action="" style="width: 355px">
        <h1 >验证失败</h1>
        <p style="text-align: left;text-indent: 30px">口令验证失败，原因可能是：</p>
        <p style="text-align: left;text-indent: 30px">1.忘记密码</p>
        <p style="text-align: left;text-indent: 30px">2.未区分字母大小写</p>
        <p style="text-align: left;text-indent: 30px">3.未开启小键盘</p>
        <div style="width: 300px">
            <a href="{{ url_for('login') }}" style="display: inline-block"><input type="button" value="返回"  class="btn btn-primary" id="js-btn-login" style="display: inline-block;height: 40px"/></a>
        </div>
    </form>
{% endblock %}