{% extends '_window.html' %}
{% block title %}用户名验证{% endblock %}
{% block operation %}用户名验证{% endblock %}
{% block window_content %}
    <form action="" style="width: 355px">
        <h1 >用户名验证</h1>
        <p style="text-align: left;text-indent: 30px">你输入的账户名不正确，原因可能是：</p>
        <p style="text-align: left;text-indent: 30px">1.账号名输入有误</p>
        <p style="text-align: left;text-indent: 30px">5.帐户名未申请</p>
        <div style="width: 300px">
            <a href="{{ url_for('login') }}" style="display: inline-block"><input type="button" value="返回"  class="btn btn-primary" id="js-btn-login" style="display: inline-block;height: 40px"/></a>
        </div>
    </form>
{% endblock %}